main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.product-card {
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.my-rounded-card {
  border-radius: 25px;
}

.background-image {
  /* Replace 'your-image-url' with the URL of your image */
  background: url('https://media.istockphoto.com/id/1446438866/photo/happy-couple-snowboarders-having-fun.jpg?s=2048x2048&w=is&k=20&c=OlNq5oL1s1iT9hc7OQ13AmYb6LtGH9-r2m0zaMFiHaU=') no-repeat center center fixed; 
 
  background-size: cover;

  /* Apply a blur filter to the background image */
  

  /* Ensure the background image covers the entire component */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Css for size selector */
.size-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.size-button.selected {
  background-color: #3c4c5d;
  color: white;
}

.size-button-container {
  display: flex;
  flex-direction: row;
}

.size-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trash-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.size-length {
  width: 90%; 
}
